services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: derp-bot
    env_file:
      - .env.prod
    environment:
      - IS_DOCKER=true
    restart: unless-stopped
